h4 {
  color: #651a1a;
  background-color: #DDDDDD;
}
h5 {
  color: maroon;
  background-color: #DDDDDD;
  font-weight: bold;
}
table tr:nth-child(even){background-color: #9B797B;}
table tr:nth-child(odd){background-color: #C5B2B3;}
table td {text-align: center;}
.body {
    margin:10;
	padding:10;
	background: #DDDDDD;
	height: 100%;
}
.bottom {
	background-color: #684654;
	color: White;
	min-height: 100px;
}
.centered {
	text-align: center;
}
.grid-container {
	background-color: #F5F5F5;
}
.headingcolor {
	background: #DEB887;
}
.roundedsquare {
	border-radius: 25px;
	border-bottom: 2px solid #4B0082;
 	background: #DEB887;
  	font-size: 10px;
  	text-align: center;
}
.roundsqbtn {
	display: flex inline;
   	align-items: center;
   	justify-content: center;
	border-radius: 25px;
 	background: #6f42c1;
  	font-size: 10px;
  	text-align: center;
	vertical-align: middle;
	margin: 3px;
	color: White;
	background-image: radial-gradient(#ADADAD, #83677B, #64485C, #401B1D, #2E1114);
}
.datadisplay {
	background-color: #F5F5F5;
	height: 90%;
	overflow: scroll;
}
.hiddenList {
	display: none;
}
.skewed {
	background-color: #D8BFD8;
	width: 100%;
  	height: 80px;
	font-size: 50px;
  	text-align: center;
  	-ms-transform: skewX(120deg); /* IE 9 */
  	-webkit-transform: skewX(120deg); /* Safari */
  	transform: skewX(120deg); /* Standard syntax */
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	border-radius: 3px;
	line-height: 15px;
	width: 50%;
	background-color: #DFD4CC;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  text-align:justify;
}
.dropdown-content a:hover {
	background-color: #684654;
	color: White;
}

.dropdown:hover .dropdown-content {
  display: block;

}
.maroon {
	background-color: #D8BFD8;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.topbanner {
  background-color: #9B797B;
  font-size: 18px;
  color: White;
  padding: 10px;
}
.bannerxs {background-color: #9B797B; font-size: 12px;}
.left {
  border-right: 1px	solid #2E1114;
}
.left-align {
  text-align: left;
}
.right {
  border-left: 1px solid #2E1114;
}

.filterButton {
  display: inline-block;
  color: #212121;
  line-height: 1.4;
  font-size: 12px;
  background-color: #e0e0e0;
  box-shadow: 0 2px 4px 0 hsla(0,0%,100%,.5);
  border-radius: 3px;
  margin: 2px 4px;
  overflow: hidden;
  transition: background-color .1s;
  max-width: 200px;
  padding: 8px;

}
