:root {
  /* Scheme 1 variables */
  --BodyGradient: linear-gradient(110deg, #f0f0f0 10%, #d3d3d3 20%, #C5B2B3 60%);
  --BodGradtop: linear-gradient(70deg, #413949 , #554a5f
, #b6b3af);
  --BodGradbanner: linear-gradient(100deg, #918D88, #7f7a74, #7f7a74, #5B544C );
  --BodGradbannertext : #ffff99;
  --BodGradmain: linear-gradient(110deg, #d3d7ad 60%, #e0e3c5 60%);
  --BodGradcard: linear-gradient(110deg, #C5B2B3 2%, #394941 , #413949 50%, #C5B2B3);
  --dropdownButton : var(--BodGradcard);
  /* Scheme 2 variables */
  --BodGrad2main: linear-gradient(110deg, #d3d7ad 60%, #e0e3c5 60%);
  --BodGrad2card: linear-gradient(110deg, #4b0082 60%, #378200 60%);
  --BodGrad2banner: linear-gradient(110deg, #939B32 30%, #788200 30% 60%, #3c4100 60%);
  --BodGrad2bannertext : #4b0082;
  --BodGrad2top: linear-gradient(70deg, #3c4100 30%, #788200 30% 60%, #939B32 60%);
  --dropdown2Button : var(--BodGrad2card);
  /* Scheme 3 variables */
  --BodGrad3main: linear-gradient(110deg, #e8faee 60%, #daf8e3 60%);
  --BodGrad3: linear-gradient(110deg, #daf8e3 30%, #e8faee 30%  60%, #00c2c7 60%);
  --BodGrad3card: linear-gradient(110deg, #822d00 60%, #004468 60%);
  --BodGrad3banner: linear-gradient(110deg, #005582 60%, #0086ad 60%);
  --BodGrad3bannertext : #ffffcd;
  --BodGrad3top: linear-gradient(70deg, #0086ad 60%, #005582 60%);
  --dropdown3Button : var(--BodGrad3card);
  /* Scheme 4 variables */
    --BodGrad4main: linear-gradient(110deg, #e8faee 60%, #daf8e3 60%);
    --BodGrad4: linear-gradient(110deg, #daf8e3 30%, #e8faee 30%  60%, #00c2c7 60%);
    --BodGrad4card: linear-gradient(110deg, #7c480e 60%, #0e427c 60%);
    --BodGrad4banner: linear-gradient(110deg, #7c480e 60%, #7c110e 60%);
    --BodGrad4bannertext : #ffffcd;
    --BodGrad4top: linear-gradient(70deg, #7c110e 30%, #7c480e 60%);
    --dropdown4Button : var(--BodGrad4card);
    --testvar {
      background: linear-gradient(110deg, #7c480e 60%, #0e427c 60%)
      padding: 10px 5px 20px auto;
    }
}
.grid-container {
	background-color: #F5F5F5;
}

.likeh5 {
  color: maroon;
  background-color: #DDDDDD;
  font-weight: bold;
}
.headingcolor {
	background: #DEB887;
}
.roundsqbtn {
	display: flex inline;
   	align-items: center;
   	justify-content: center;
	border-radius: 25px;
 	background: radial-gradient(#ADADAD 30%, #83677B 50%, #64485C 70%, #401B1D 90%, #2E1114);
  	font-size: 10px;
  	text-align: center;
	vertical-align: middle;
	margin: 3px;
	color: White;
	/* background-image: radial-gradient(#ADADAD, #83677B, #64485C, #401B1D, #2E1114); */
}

.datadisplay {
	background-color: #F5F5F5;
	height: 90%;
	overflow: scroll;
}

.skewed {
	background-color: #D8BFD8;
	width: 100%;
  	height: 80px;
	font-size: 50px;
  	text-align: center;
  	-ms-transform: skewX(120deg); /* IE 9 */
  	-webkit-transform: skewX(120deg); /* Safari */
  	transform: skewX(120deg); /* Standard syntax */
}
